body {
    margin: 0;
    overflow: hidden;
    padding-top: 5rem;
}

.hidden {
    display: none;
}

.choice-title {
    font-size: 18px;
    font-weight: bold;
}

.choice-description {
    font-size: 16px;
}

#story {
    padding: 0 5rem;
}

#story p {
    font-family: 'Averia Serif Libre';
    font-size: 16px;
    text-align: center;
}

#story p:last-of-type {
    margin-bottom: 5rem;
}

#choices {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    border: 2px solid black;
    outline: none;
    border-radius: 30px;
    padding: .5rem 1rem;
    transition: background-color .15s ease;
    font-family: 'Averia Serif Libre';
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}